.custom-text {
  color: transparent; /* Transparent text */
  background-clip: text; /* Background clip to text */
  -webkit-background-clip: text; /* WebKit-specific property */
  background-image: linear-gradient(
    to right,
    #1a9fff,
    #0083e0
  ); /* Gradient from purple to pink */
}